body {
  overflow: hidden;
  margin: 0;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: #ddd;
}
#mycanvas {
  position: absolute;
  z-index: -1;
}
#test {
  position: absolute;
  color: red;
}
#alignText {
  position: absolute;
  color: white;
  top: 10px;
  left: 200px;
}
#cohesionText {
  position: absolute;
  color: white;
  top: 40px;
  left: 200px;
}
#seperationText {
  position: absolute;
  color: white;
  top: 70px;
  left: 200px;
}
